{% extends 'portfolio/base.html' %}
{% block content %}
<h1 class="about_title">Расписание Службы</h1>
<section class="timetable">
    <div class="container">
        {% for blog in blogs %}
        <h1 class="timetable_text">Расписание на {{ blog.date }}</h1>
            <div class="timetable_wrapper">
                <a href="{% url 'blog:detail' blog.id %}"><h2>{{ blog.title }}</h2></a>
                <p>{{ blog.description }}</p>
                {% endfor %}
            </div>
    </div>
</section>
{% endblock %}